* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
p,
span,
h1,
h3 {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -2px;
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

.up-on-scroll {
    margin-top: 0px;
    transition: 0.5s ease-out;
}

/* header */

header {
    width: 100%;
    height: 102px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#header {
    position: relative;
}

header #main_logo {
    width: 140px;
    position: absolute;
    top: 30px;
    left: 70px;
    z-index: 10000;
}

header #main_menu {
    width: 580px;
    height: 102px;
    position: absolute;
    top: 30px;
    right: -17px;
    z-index: 10001;
}

header #main_menu>li {
    float: left;
    margin-right: 3vw;
    padding-top: 5px;
}

header #main_menu li>a {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

header #main_menu>#download {
    width: 102px;
    height: 36px;
    padding-left: 15px;
    margin-top: 2px;
    background-color: #ff4040;
    border-radius: 100px;
}

header #main_menu #download>a {
    color: #fff;
    display: block;
    margin-top: -2px;
}

#header_bg {
    width: 100%;
    height: 102px;
    background-color: #000;
    opacity: 0.45;
}



/* section - common */

section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
article{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}


/* section1 */

#section1{
    height: 10%;
}
#section1 article>#submenu{
    width: 100%;
    text-align: center;
}
#section1 article #submenu>h3{
    font-size: 35px;
    font-weight: 600;
    margin-top: 202px;
    margin-bottom: 50px;
}
#section1 article #submenu>ul{
    width: 33%;
    height: 50px;
    margin: 0 auto;
    position: relative;
}
#section1 article #submenu ul>li{
    float: left;
    display: block;
    position: absolute;
}
#section1 article #submenu ul>li:first-child{
    left: 0%;
}
#section1 article #submenu ul>li:nth-child(2){
    left: 50%;
    transform: translateX(-50%);
}
#section1 article #submenu ul>li:last-child{
    right: 0%;
}
#section1 article #submenu ul li>a{
    font-size: 24px;
    font-weight: 300;
}
#section1 article #submenu ul li>a>b{
    letter-spacing: 1px;
    font-weight: 500;
}
#section1 article #submenu ul li>div{
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: 0.5s ease-out;
}
#section1 article #submenu ul li.on>a{
    font-weight: 500;
}
#section1 article #submenu ul li.on>div{
    background-color: #ff4040;
}
#section1 article #submenu ul li:hover>div{
    background-color: #ff4040;
}
/* #section1 article>#main_banner{
    width: 100%;
    height: 505px;
    background-image: url('../image/about-as_bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 160px;
    position: relative;
}
#section1 article #main_banner #main_banner-black{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    left: 0;
}
#section1 article #main_banner #main_banner-black>#main_banner-text_box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#section1 article #main_banner #main_banner-black #main_banner-text_box>p{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    margin-top: 170px;
    margin-bottom: 20px;
}
#section1 article #main_banner #main_banner-black #main_banner-text_box>span{
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}
#section1 article #main_banner #main_banner-black #main_banner-text_box span>b{
    color: #ff4040;
} */



/* section2 */

#section2 article>.cover_box{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    margin-top: 310px;
}
#section2 article .cover_box>.img-cover_box{
    width: 59%;
    height: 100%;
    float: left;
}
#section2 article .cover_box .img-cover_box>img{
    float: right;
}
#section2 article .cover_box>.text-cover_box{
    width: 41%;
    height: 100%;
    float: left;
    padding-left: 4.16%;
    padding-top: 8%;
}
#section2 article .cover_box .text-cover_box>.logo_point{
    width: 50px;
    height: 50px;
    background-color: #ff4040;
    border-radius: 50%;
    margin-bottom: 2%;
    position: relative;
}
#section2 article .cover_box .text-cover_box>span{
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    color: #ff4040;
    display: block;
    margin-bottom: 4%;
}
#section2 article .cover_box .text-cover_box span>b{
    font-size: 30px;
}
#section2 article .cover_box .text-cover_box>p{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #333;
}
#section2 article .cover_box .text-cover_box p>b{
    font-weight: 600;
}



/* section3 */

#section3 article>.cover_box{
    width: 90%;
    height: 90%;
    margin: 0 auto;
    margin-top: 310px;
}
#section3 article .cover_box>.img-cover_box{
    width: 50%;
    height: 100%;
    float: right;
}
#section3 article .cover_box .img-cover_box>img{
    float: left;
}
#section3 article .cover_box>.text-cover_box{
    width: 50%;
    height: 100%;
    float: left;
    padding-right: 4.16%;
    padding-top: 8%;
}
#section3 article .cover_box .text-cover_box>.logo_point{
    width: 50px;
    height: 50px;
    background-color: #ff4040;
    border-radius: 50%;
    margin-top: 5%;
    float: right;
    display: block;
    position: relative;
}
#section3 article .cover_box .text-cover_box>span{
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    color: #ff4040;
    text-align: right;
    display: block;
    margin-bottom: 4%;
    margin-top: 13%;
}
#section3 article .cover_box .text-cover_box span>b{
    font-size: 30px;
}
#section3 article .cover_box .text-cover_box>p{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: right;
    color: #333;
}
#section3 article .cover_box .text-cover_box p>b{
    font-weight: 600;
}



/* section 4, 6 */
#section4, #section6{
    height: 350px;
}
#section4{
    margin-top: 120px;
}
#section4>article, #section6>article{
    height: 350px;
}
#section4 article>.sub_banner{
    height: 350px;
    background-image: url('../image/about-as_bg1.jpg');
    background-size: cover;
}
#section6 article>.sub_banner{
    height: 350px;
    background-image: url('../image/about-as_bg1.jpg');
    background-size: cover;
}
#section4 article .sub_banner>.sub_banner-black,
#section6 article .sub_banner>.sub_banner-black{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    position: relative;
}
#section4 article .sub_banner .sub_banner-black>p,
#section6 article .sub_banner .sub_banner-black>p{
    font-size: 22px;
    font-weight: 300;
    line-height: 35px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}



/* section 5 */

#section5 article>.logo_point{
    width: 50px;
    height: 50px;
    background-color: #ff4040;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
    margin-top: 313px;
    position: relative;
}
#section5 article>.text-cover_box{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
#section5 article .text-cover_box>span{
    font-size: 25px;
    font-weight: 600;
    display: block;
    margin-bottom: 40px;
}
#section5 article .text-cover_box>p{
    font-size: 20px;
}



/* section 7 */
#section7 article .text-cover_box{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
#section7 article .text-cover_box>p{
    font-size: 25px;
    font-weight: 500;
    margin-top: 48vh;
}
#section7 article #toptext{
    width: 100px;
    position: absolute;
    top: 30%;
    left: 25%;
}
#section7 article #bottomtext{
    width: 100px;
    position: absolute;
    bottom: 30%;
    right: 25%;
}



/* footer */
footer a {
    color: #fff;
}

#section8 {
    height: 173px;
}
#section8 article>footer {
    width: 100%;
    height: 173px;
    overflow: hidden;
    background-color: #333;
}

#section8 article footer>#footer_cover_box {
    width: 66vw;
    height: 173px;
    margin-left: 22vw;
    margin: 0 auto;
}

#section8 article footer #footer_cover_box>#footer_logo {
    width: 14vw;
    height: 173px;
    float: left;
    position: relative;
}

#section8 article footer #footer_cover_box #footer_logo>img {
    width: 67.34%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}

#section8 article footer #footer_cover_box>#footer_text {
    width: 38vw;
    height: 173px;
    float: left;
    position: relative;
}

#section8 article footer #footer_cover_box #footer_text>#footer_top {
    width: 85%;
    position: absolute;
    top: 48px;
    left: 55%;
    transform: translateX(-50%);
}

#section8 article footer #footer_cover_box #footer_text #footer_top>li {
    float: left;
    margin-left: 9%;
}

#section8 article footer #footer_cover_box #footer_text #footer_top>li:first-child {
    margin-left: 0;
}

#section8 article footer #footer_cover_box #footer_text #footer_top li>a {
    font-size: 14px;
    font-weight: 700;
    display: block;
    opacity: 0.5;
    color: #fff;
}

#section8 article footer #footer_cover_box #footer_text>#footer_bottom {
    width: 100%;
    margin: 0 auto;
    margin-top: 93px;
}

#section8 article footer #footer_cover_box #footer_text #footer_bottom>li {
    width: 85%;
    height: 20px;
    margin: 0 auto;
    position: absolute;
    top: 93px;
    left: 50%;
    transform: translateX(-50%);
}

#section8 article footer #footer_cover_box #footer_text #footer_bottom>li:last-child {
    top: 117px;
}

#section8 article footer #footer_cover_box #footer_text #footer_bottom li>p {
    font-size: 14px;
    font-weight: 200;
    color: #fff;
    opacity: 0.5;
    letter-spacing: -1px;
    white-space: nowrap;
}

#section8 article footer #footer_cover_box #footer_text #footer_bottom li>p:first-child {
    float: left;
}

#section8 article footer #footer_cover_box #footer_text #footer_bottom li>p:nth-child(2) {
    float: left;
    margin-left: 55px;
}

#section8 article footer #footer_cover_box #footer_text #footer_bottom li>p:nth-child(3) {
    float: right;
}

#section8 article footer #footer_cover_box #footer_text #footer_bottom li>p:nth-child(4) {
    float: left;
}

#section8 article footer #footer_cover_box #footer_text #footer_bottom li>p:last-child {
    float: right;
}

#section8 article footer #footer_cover_box #footer_text #footer_bottom li:last-child>p:last-child {
    float: right;
    margin-left: 0;
}

#section8 article footer #footer_cover_box #footer_text>#footer_bottom {
    width: 100%;
    height: 50%;
}

#section8 article footer #footer_cover_box #footer_text #footer_bottom>li {
    float: left;
}

#section8 article footer #footer_cover_box>#footer_family {
    width: 14vw;
    height: 173px;
    float: left;
}

#section8 article footer #footer_cover_box #footer_family #family_site {
    width: 180px;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    margin: 0 auto;
    margin-top: 42px;
    margin-bottom: 14px;
}

#section8 article footer #footer_cover_box #footer_family #family_site>p {
    font-size: 14;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0;
    display: block;
    position: absolute;
    top: 10px;
    left: 35px;
}

#section8 article footer #footer_cover_box #footer_family #family_site>span {
    width: 15px;
    height: 3px;
    background-color: #ff4040;
    display: block;
    position: absolute;
    top: 21px;
    right: 35px;
}

#section8 article footer #footer_cover_box #footer_family #family_site>span:last-child {
    transform: rotate(90deg);
}

#section8 article footer #footer_cover_box #footer_family>#sns {
    width: 180px;
    height: 40px;
    margin: 0 auto;
}

#section8 article footer #footer_cover_box #footer_family #sns>li {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    float: left;
    margin-left: 6.5px;
    overflow: hidden;
}

#section8 article footer #footer_cover_box #footer_family #sns>li:first-child {
    margin-left: 0;
}

#section8 article footer #footer_cover_box #footer_family #sns li>a {
    width: 40px;
    height: 40px;
    display: block;
}

#section8 article footer #footer_cover_box #footer_family #sns li a>i {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 9px;
    margin-top: 9px;
}
.logo_point img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 480px) {

    /* ** */
    .bg-effect{
        display: none;
    }




    /* header */

    header {
        height: 80px;
    }
    
    header #main_logo {
        width: 140px;
        top: 25px;
        left: 30px;
    }
    
    header #main_menu {
        width: 350px;
        height: 80px;
        top: 25px;
    }
    
    
    header #main_menu>li>a {
        font-size: 16px;
        color: #fff;
        font-weight: 300;
    }
    
    header #main_menu>#download {
        width: 88px;
        height: 30px;
    }
    
    #header_bg {
        height: 80px;
        background-color: #000;
        opacity: 0.45;
    }

/* section1 */

#section1{
    height: 100%;
}

#section1 article #submenu>h3{
    font-size: 28px;
}
#section1 article #submenu>ul{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
#section1 article #submenu ul li>a{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -3px;
}
#section1 article #submenu ul li>a>b{
    letter-spacing: -2px;
}
#section1 article #submenu ul li>div{
    height: 2px;
}
#section1 article #submenu ul li:first-child{
    top: -5px;
}
/* section2 */

#section2 article>.cover_box{
    width: 100%;
    height: 100%;
    margin-top: 15vh;
}
#section2 article .cover_box>.img-cover_box{
    width: 100%;
    height: 50%;
    float: left;
    position: relative;
}
#section2 article .cover_box .img-cover_box>img{
    width: 50%;
    float: unset;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#section2 article .cover_box .img-cover_box>img:last-child{
    display: none;
}
#section2 article .cover_box>.text-cover_box{
    width: 100%;
    height: 50%;
    float: left;
    padding-left: 0;
    padding-top: 0;
    text-align: center;
}
#section2 article .cover_box .text-cover_box>.logo_point{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
#section2 article .cover_box .text-cover_box>span{
    font-size: 22px;
    margin-top: 10px;
}
#section2 article .cover_box .text-cover_box span>b{
    font-size: 26px;
}
#section2 article .cover_box .text-cover_box>p{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #333;
}
#section2 article .cover_box .text-cover_box p>b{
    font-weight: 600;
}

/* section3 */

#section3 article>.cover_box{
    width: 100%;
    height: 100%;
    margin-top: 15vh;
}
#section3 article .cover_box>.img-cover_box{
    width: 100%;
    height: 70%;
    float: left;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}
#section3 article .cover_box .img-cover_box>img{
    width: 70%;
    height: fit-content;
    float: unset;
}
#section3 article .cover_box>.text-cover_box{
    width: 100%;
    height: 30%;
    float: left;
    padding-right: 0;
    padding-top: 8%;
    text-align: center;
}
#section3 article .cover_box .text-cover_box>.logo_point{
    float: unset;
    margin: 0 auto;
}
#section3 article .cover_box .text-cover_box>span{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #ff4040;
    text-align: center;
    display: block;
    margin-bottom: 2vh;
    margin-top: 20px;
}
#section3 article .cover_box .text-cover_box span>b{
    font-size: 22px;
}
#section3 article .cover_box .text-cover_box>p{
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

/* section 4, 6 */
#section4, #section6{
    height: 250px;
}
#section4>article, #section6>article{
    height: 250px;
}
#section4 article>.sub_banner{
    height: 250px;
}
#section6 article>.sub_banner{
    height: 250px;
}
#section4 article .sub_banner .sub_banner-black>p,
#section6 article .sub_banner .sub_banner-black>p{
    font-size: 16px;
    font-weight: 300;
    line-height: 35px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* section 5 */

#section5 article>.logo_point{
    width: 50px;
    height: 50px;
    background-color: #ff4040;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 4%;
    margin-top: 35vh;
    position: relative;
}
#section5 article>.text-cover_box{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
#section5 article .text-cover_box>span{
    font-size: 22px;
    font-weight: 600;
    display: block;
    margin-bottom: 20px;
}
#section5 article .text-cover_box>p{
    font-size: 14px;
    line-height: 22px;
}
#section5 article .text-cover_box>p br{
    display: none;
}
/* section 7 */
#section7 article .text-cover_box{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
#section7 article .text-cover_box>p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 48vh;
}
#section7 article #toptext{
    width: 70px;
    position: absolute;
    top: 30%;
    left: 10%;
}
#section7 article #bottomtext{
    width: 70px;
    position: absolute;
    bottom: 25%;
    right: 10%;
}

/* footer */

#section8 {
    height: 240px;
}
#section8 article>footer {
    height: 100%;
}

#section8 article footer>#footer_cover_box {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

#section8 article footer #footer_cover_box>#footer_logo {
    display: none;
}

#section8 article footer #footer_cover_box>#footer_text {
    width: 100%;
    height: 60px;
}

#section8 article footer #footer_cover_box #footer_text>#footer_top {
    width: 100%;
    top: 60px;
    left: 50%;
    display: flex;
    justify-content: space-between;
}

#section8 article footer #footer_cover_box #footer_text #footer_top>li {
    float: left;
    margin-left: 4%;
}

#section8 article footer #footer_cover_box #footer_text #footer_top>li:first-child {
    margin-left: 0;
}

#section8 article footer #footer_cover_box #footer_text #footer_top li>a {
    font-size: 12px;
}

#section8 article footer #footer_cover_box #footer_text>#footer_bottom {
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#section8 article footer #footer_cover_box #footer_text #footer_bottom>li {
    width: 100%;
    margin: 0;
    position: unset;
    float: left;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transform: translateX(0);
}



#section8 article footer #footer_cover_box #footer_text #footer_bottom li>p:nth-child(2) {
    float: unset;
    margin-left: 0;
}

#section8 article footer #footer_cover_box #footer_text #footer_bottom li>p:nth-child(3) {
    float: unset;
}

#section8 article footer #footer_cover_box #footer_text #footer_bottom li>p:nth-child(4) {
    float: unset;
}

#section8 article footer #footer_cover_box #footer_text #footer_bottom li>p:last-child {
    float: unset;
}
#section8 article footer #footer_cover_box #footer_text #footer_bottom li:last-child>p:last-child {
    float: unset;
}


#section8 article footer #footer_cover_box #footer_text #footer_bottom li>p {
    font-size: 12px;
    display: block;
    white-space: nowrap;
    float: left;
}
#section8 article footer #footer_cover_box #footer_text #footer_bottom li>p:last-child {
    font-size: 12px;
    letter-spacing: -2.4px;
    float: right;
}


#section8 article footer #footer_cover_box>#footer_family {
    width: 100%;
    height: 173px;
    float: left;
}

#section8 article footer #footer_cover_box #footer_family #family_site {
    width: 40%;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    margin: 0;
    margin-top: 100px;
    margin-bottom: 0;
    margin-left: 0;
}

#section8 article footer #footer_cover_box #footer_family #family_site>p {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0;
    display: block;
    position: absolute;
    top: 10px;
    left: 35px;
}

#section8 article footer #footer_cover_box #footer_family #family_site>span {
    width: 15px;
    height: 3px;
    background-color: #ff4040;
    display: block;
    position: absolute;
    top: 21px;
    right: 35px;
}

#section8 article footer #footer_cover_box #footer_family #family_site>span:last-child {
    transform: rotate(90deg);
}

#section8 article footer #footer_cover_box #footer_family>#sns {
    width: 230px;
    height: 40px;
    margin-right: 0;
    margin-top: -40px;
}

#section8 article footer #footer_cover_box #footer_family #sns>li {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    float: left;
    margin-left: 10%;
    overflow: hidden;
}
}
